* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Sen", sans-serif;
}

header {
  width: 100%;
  position: fixed;
}

nav {
  padding: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-nav {
  width: 1000px;
  margin: 0px auto;
}

.main {
  display: inline-block;
  clear: both;
}

.main img {
  width: 50px;
  float: left;
  margin: 5px;
}

nav .main ul {
  list-style: none;
  overflow: hidden;
}

nav .main ul li {
  float: left;
  padding: auto;
}

nav .main ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

nav .main ul li a:hover {
  background: #000;
}

nav ul {
  margin: 0px auto;
  list-style: none;
  overflow: hidden;
  float: right;
}

nav ul li {
  float: left;
  padding: auto;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  transition: background 1s ease;
}

nav ul li a:hover {
  background: #000;
  color: var(--palet-orange, #ff764d);
}

nav ul li .free-medit {
  color: #fbffa7;
}

nav ul li .free-medit:hover {
  color: #fff;
  background: blue;
}

.port-ableton {
  width: 100%;
  max-height: 700px;
  min-height: 550px;
  background: linear-gradient(
      0deg,
      rgba(52, 50, 37, 0.2) 0%,
      rgba(52, 50, 37, 0.2) 100%
    ),
    url("../img/port-ableton.jpeg"), lightgray 50%;
  background-position: 0 50%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
}

.article-zone {
  width: 100%;
}

.article-zone .about-1 {
  width: 1000px;
  margin: 50px auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.article-zone .about-1 .text-article {
  width: 50%;
}

.article-zone .about-1 .image-custom .image {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  border: 6px solid var(--palet-blue, #00f);
  background: url("../img/about-1.jpeg");
  box-shadow: -26px 42px 4px 0px rgba(177, 197, 255, 0.7);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  padding: 20px;
  background: var(--typografic-black-gray, #1b1b1b);
  overflow: hidden;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .foot-color {
  color: var(--palet-orange, #ff764d);
}

footer .contact-data {
  width: 100%;
  padding: 20px 0px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contact-data .social-media {
  display: inline-block;
  clear: both;
}

footer .contact-data form input[type="email"],
input[type="submit"] {
  display: inline;
  float: left;
  padding: 5px 10px;
  font-family: "Sen", sans-serif;
  border-radius: 0;
  border: 0;
}

footer .contact-data form input[type="submit"] {
  cursor: pointer;
  background: blue;
  color: #fff;
}

footer .contact-data form input[type="submit"]:hover {
  background: greenyellow;
  color: #000;
}

footer .contact-data form input[type="email"] {
  background: #fff;
}

footer .contact-data form input[type="email"]:focus {
  color: blue;
}

footer .credits {
  width: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .credits .credit-ableton {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .credits .credit-ableton p {
  color: #fff;
  float: left;
}

footer .credits .credit-ableton img {
  width: 30px;
}
