* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--palet-orange, #ff764d);
  font-size: 90pt;
  font-weight: 400;
  word-wrap: break-word;
}

h2 {
  font-size: 37pt;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 23pt;
  font-weight: 400;
}

h5 {
  font-size: 19pt;
  font-weight: 400;
}

h6 {
  font-size: 15pt;
  font-weight: 400;
}

p {
  font-size: 12pt;
  font-weight: lighter;
}

a {
  font-size: 10pt;
  font-weight: 200;
}

b {
  color: blue;
}

.fa-instagram,
.fa-x-twitter,
.fa-linkedin,
.fa-square-facebook {
  color: white;
  padding-right: 10px;
}

.credit-nav {
  color: white;
}

.text-article a {
  font-family: "Sen";
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: blue;
  padding: 20px;
}

.text-article p {
  color: var(--typografic-gray, #3f3f3f);
  text-align: center;
}

cite {
  font-size: 12px;
  font-style: normal;
  color: #3f3f3f;
}

cite b {
  color: blue;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 70pt;
  }
  h2 {
    font-size: 30pt;
  }
  h3,
  .text-article a {
    font-size: 12pt;
  }
  h4 {
    font-size: 18pt;
  }
  p {
    font-size: 10pt;
  }
  cite {
    font-size: 8pt;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 50pt;
  }
}
